<strong>Olá, {{ deliveryman }}</strong>
<p>Uma encomenda pela qual você estava encarregado, foi cancelada. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ name }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Rua: </strong> {{street}} <br />
  <strong>Bairro: </strong> {{neighborhood}} <br />
  <strong>Nº: </strong> {{number}} <br />
  <strong>Data/Hora do cancelamento: </strong> {{date}} <br />
</p>
